@font-face {
    font-family: "AlarmClock";
    src: url('../../assets/clockFont.ttf');
}

div.containerProfile {
    margin: 80px auto 0px;
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul.stock-list {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 30px;
}

ul.stock-list li {
    display: flex;
    flex-direction: column;
}

.buttons {
    line-height: 30px;
    display: flex;
    margin-bottom: 25px;
}

.updateButton {
    flex-grow: 4;
    display: flex;
}

.updateStyleNotReady {
    width: 150px;
    border: 0px;
    border-radius: 3px;
    padding: 0 25px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: hsl(360, 83%, 80%);
    color: white;
    cursor: not-allowed;
}

.updateStyleReady {
    width: 150px;
    border: 0px;
    border-radius: 3px;
    padding: 0 25px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f05a5b;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.buyStyle {
    width: 120px;
    border: 0px;
    border-radius: 2px;
    padding: 0 20px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f05a5b;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.sellStyle {
    margin-left: 20px;
    width: 120px;
    border: solid 1px #f05a5b;
    border-radius: 2px;
    padding: 0 20px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    color: #f05a5b;
    cursor: pointer;
    transition: 0.5s;
}

.buyStyle:hover {
  background-color: #e14f50;
}

.sellStyle:hover {
    background-color: #EEE;
    color: #fd0404;
    border: solid 1px #fd0404; 
}

.updateButton img {
    width: 10px;
    margin-right: 5px;
}

.updateStyleReady:hover {
    background-color: #ca1717;
}

p.warning {
    font-size: 22px;
    color: #555;
    margin-top: 50px;
    text-align: center;
}

.timeElapsed {
    font-family: AlarmClock;
    border: solid 1px black;
    width: 100px;
    margin-left: 5px;
    font-size: 32px;
    text-align: center;
}


.swingStyle {
    margin-right: 20px;
    width: 120px;
    border: 0px;
    padding: 0 20px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: solid 2px #f05a5b;
    background-color: rgba(255, 255, 255, 0.01);
    color: #f05a5b;
    cursor: pointer;
    transition: 0.8s;
}

.swingStyle:hover {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(240,90,91,1) 35%, rgba(255,255,255,1) 100%);
    color: rgb(255, 255, 255);
    border-bottom: 0;
}