.tabelaCV {
    background-color: white;
    width: 90%;
    border: solid 1px black;
}

.tabelaCabecalho {
    font-size: 21px;
    font-weight: bold;
}

.tabelaCorpo {
    font-size: 17px;
}

.tabelaLinha {
    line-height: 25px;
}
